html, body {
  overflow-y: auto;
}

#timer-display {
  color: var(--color-primary);
}

#high-score-display {
  color: var(--color-accent);
}

#game-canvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}
